// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.article {
	text-align: center;
    margin: 50px;
    font-family: arial;
    width: 150px;

	h2 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 10px;
		font-style: italic;
	}

	.submit-button {
    	border: none;
    	background-color: blue;
    	cursor: pointer;
    	color: white;
    	padding: 5px;
    	width: 70px;
    	border-radius: 5px;
	}
}
